body {
    margin: 0;
    font-family: Arial, sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x:hidden ;
}

nav {
    background-color: #3e533f;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

li {
    margin: 0 1rem;
}

a {
    color: white;
    text-decoration: none;
    padding: 1.4rem 1.6rem;
    display: block;
    
}

a img {
    display: block; 
    max-height: 100%; 
    height: 4.5rem;
}