@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.circleYourProfile{
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background-color: rgb(50, 73, 52);
}

.YourProfileWeb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.YourProfileDetails{
    padding-top: 1rem ;
    color: rgb(61, 75, 59);
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
.buttonsProfile{
  margin-left: 30rem;
}
.buttonProfile{
    background-color: #4F6F52;
    border: 1px solid #4F6F52;
    border-radius: 1.1rem;
    color: #f7f1e7;
    font-weight: 700;
    padding: 0.2rem 1.2rem;
    user-select: none;
    margin-top: 5rem;
    padding: 2rem 5rem 2rem 5rem;
    font-size: 2rem;
    margin-left: 11rem;
}
.buttonProfile:hover {
    background-color: #445846;
    
  }
  
  .buttonProfile:active:hover,
  .buttonProfile:focus:hover,
  .buttonProfile:focus {
    background-color: #445846;
    color: #ece7e3;
  }
  .buttonProfile:active {
    background-color: #68816a;
    color: #f0e7e2;
  }
  .horizontal-line {
    background-color: rgb(132, 155, 132);
    height: 0.7rem; 
    width: 60%; 
    margin: 0 auto; 
    margin-top: 10rem;
    
  }
  .streak {
    border: 1px  #4F6F52;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
    width: 50rem; 
    height: 50rem;
    padding: 5rem;
    margin: 10rem auto; 
    border-radius: 2rem;
    border-color: #3e533f;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  .streakText{
    font-family: "Montserrat", sans-serif;
    color: #3e533f;
    font-weight: 900;
    margin-top: 5rem;
   
  }
  .streak > div > img{
    height: 20rem;
  }

.profileHeading{
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    color: #445846;
    font-weight: 900;
}
.UsernameHeading{
  font-family: "Montserrat", sans-serif;
  color: #3e533f;
  font-weight: 900;
  margin-right: 50rem;
  margin-left: 5rem;
}

.horizontal-lineHeading{
  background-color: rgb(132, 155, 132);
  height: 0.7rem; 
  width: 60%; 
  margin: 0 auto; 
  margin-bottom: 10rem;
}